@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  font-family: "Raleway", sans-serif;
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  align-items: flex-end;
  overflow: scroll;
}

.modal img {
  margin: 1rem;
  width: 80%;
}

.contentText h2 {
  margin-bottom: 0;
  font-weight: bold;
}

.contentText h4 {
  margin-top: 0;
}

.contentText a {
  color: #333;
  margin: 0.5rem;
}

.contentText a:hover {
  color: #ccc;
}

.icons {
  margin-bottom: 2rem;
}

/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@media (max-width: 1125px) {
  .modal {
    display: block;
    width: 100vw;
    /* top: 12vh; */
    left: 0;
    max-height: 90vh;
  }
  .modal img {
    width: 95%;
    margin: 2.5%;
  }
  .contentText {
    margin: 1rem;
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .modal {
    top: 20vh;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
