@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  font-family: "Raleway", sans-serif;
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 95vh;
}

.modal img {
  margin: 1rem;
  width: 75%;
  animation-name: loadImage;
  animation-duration: 2500ms;
  animation-timing-function: ease-out;
  cursor: default;
}

@keyframes loadImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: #333;
  cursor: pointer;
}

.closeBtn:hover {
  color: #ccc;
}

.contentText {
  margin: 1rem;
  padding-top: 3rem;
}

.contentText h2 {
  margin-bottom: 0;
  font-weight: bold;
}

.contentText h4 {
  padding-left: 1rem;
  margin-top: 0;
}

.contentText a {
  color: #333;
  margin: 0.5rem;
}

.contentText a:hover {
  color: #ccc;
}

.icons {
  margin-bottom: 2rem;
}

/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@media (max-width: 1125px) {
  .modal {
    display: block;
    width: 100vw;
    /* top: 12vh; */
    left: 0;
    max-height: 90vh;
  }
  .modal img {
    width: 95%;
    margin: 2.5%;
  }
  .contentText {
    margin-left: 3rem;
    margin-top: 0;
    padding-top: 0;
  }
  .closeBtn {
    opacity: 0;
  }
  .closeBtn:hover {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .modal {
    top: 20vh;
  }
  .modal img {
    width: 98%;
    margin: 1%;
    margin-top: 2rem;
  }
  .closeBtn {
    display: none;
  }
  .contentText {
    margin-left: 1.5rem;
  }
  .icons {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
