@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Raleway&display=swap");

img {
  width: 100%;
  animation-name: loadImage;
  animation-duration: 2500ms;
  animation-timing-function: ease-out;
  cursor: pointer;
}

@keyframes loadImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.caption {
  font-family: "Hurricane", cursive;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  animation-name: loadImage;
  animation-duration: 2500ms;
  animation-timing-function: ease-out;
}
